.crete-round {
	font-family: 'Crete Round', serif;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.main-green {
	background-color: #028d67;
}

.main-green-text {
	color: #028d67;
	font-size: 9pt;
}

.main-white {
	background-color: #f8f8f8 !important;
}

.main-white-text{
	color: #f8f8f8;
}

.main-grey-text {
	color: #292f2d;
}

.btn-main-green {
	background-color: #028d67 !important;
}
