.crete-round {
	font-family: 'Crete Round', serif;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.main-green {
	background-color: #028d67;
}

.main-green-text, .dropdown-content li a, .dropdown-content li>span {
    color: #028d67 !important;
}
.main-white {
	background-color: #f8f8f8 !important;
}

.main-white-text{
	color: #f8f8f8;
}

.main-grey-text {
	color: #292f2d;
}

.btn-main-green {
	background-color: #028d67 !important;
}

.nav-margins {
	margin-left: 60px; 
}

.sort-filter{
	max-width: 200px !important;
}

.checkbox-green[type="checkbox"].filled-in:checked + label:after{     
     border: none;
     background-color: #028d67;
}

.no-hover{

}
