<!DOCTYPE html>
  <html>
    <head>
       <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
     <body class="main-white">
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">English</a></li>
          <li class="divider"></li>
          <li><a href="#!">Math</a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
          <li><a href="#!">Tutee Profiles</a></li>
          <li class="divider"></li>
          <li><a href="#!">Progress Reports</a></li>
        </ul>
        <ul id="dropdown3" class="dropdown-content">
          <li><a href="#!">Administrator</a></li>
          <li class="divider"></li>
          <li><a href="#!">Data Analysis Team</a></li>
          <li class="divider"></li>
          <li><a href="#!">Modules Team</a></li>
          <li class="divider"></li>
          <li><a href="#!">Tutors</a></li>
        </ul>
        <ul id="dropdown4" class="dropdown-content">
          <li><a href="#!">A</a></li>
          <li class="divider"></li>
          <li><a href="#!">B</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper main-white">
            <ul id="nav-mobile" class="left hide-on-med-and-down open-sans">
              <li><img class="main-green"src="images/gabay-tbs-logo-white.png" height="64"></li>
              <li><a class="dropdown-button main-green-text" href="#!" data-activates="dropdown1" data-beloworigin="true"><font size="4">&nbsp;Modules</font><i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="#" class="main-green-text"><font size="4">&nbsp;Evaluations&nbsp;</font></a></li>
              <li><a class="dropdown-button main-green-text" href="#!" data-activates="dropdown2" data-beloworigin="true"><font size="4">&nbsp;Tutees</font><i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="dropdown-button main-green-text" href="#!" data-activates="dropdown3" data-beloworigin="true"><font size="4">&nbsp;Members</font><i class="material-icons right">arrow_drop_down</i></i></a></li>
              <li><a href="#" class="main-green-text"><font size="4">&nbsp;Export&nbsp;</font></a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a class="dropdown-button main-green-text" href="#!" data-activates="dropdown4" data-beloworigin="true"><font size="4">&nbsp;[Admin] Jakey Fausto</font><i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </nav>

        <div class="col s12">
          <center>
          <br>
          <br>
           <a class="main-green-text crete-round"><font size="6">Members</font></a>

          </center>

  <div class="container"><a class='dropdown-button btn' "waves-effect waves-light btn btn-main-green open-sans left-align" href='#' data-activates='dropdown5'>Sort by:</a>


  <ul id='dropdown5' class='dropdown-content'>
    <li><a href="#!">Last Name</a></li>
    <li class="divider"></li>
    <li><a href="#!">Committee</a></li>
  </ul>

  <a class='dropdown-button btn' href='#' data-activates='dropdown6'>Filter by:</a>


  <ul id='dropdown6' class='dropdown-content'>
    <li><a href="#!">Last Name</a></li>
    <li class="divider"></li>
    <li><a href="#!">Committee</a></li>
  </ul> </div>

      <center><a class="waves-effect waves-light btn btn-main-green open-sans">Create Account</a>
          <br>
          <br>
      </center>
        </div>


        <!--table-->
        <div>
           <table class="bordered">
              <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="committee">Committee</th>
                    <th data-field="number">Contact number</th>
                    <th data-field="address">Email Address</th>
                    <th data-field="actions"><center>Actions</center></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Cindy Chua</td>
                  <td>Modules Team</td>
                  <td>09258896616</td>
                  <td>cindy.chua@obf.ateneo.edu</td>
                  <td>
                    <center>
                    <a class="waves-effect waves-light btn btn-main-green">View</a>
                    <a class="waves-effect waves-light btn btn-main-green">Update</a>
                    <a class="waves-effect waves-light btn btn-main-green">Delete</a>
                    <a class="waves-effect waves-light btn btn-main-green">Evaluations</a>
                    </center>
                  </td>
                </tr>
                <tr>
                  <td>Felisa Bunac</td>
                  <td>Tutor</td>
                  <td>09054235927</td>
                  <td>felisa.bunac@obf.ateneo.edu</td>
                  <td>
                    <center>
                    <a class="waves-effect waves-light btn btn-main-green">View</a>
                    <a class="waves-effect waves-light btn btn-main-green">Update</a>
                    <a class="waves-effect waves-light btn btn-main-green">Delete</a>
                    <a class="waves-effect waves-light btn btn-main-green">Evaluations</a>
                    </center>
                  </td>
                </tr>
                <tr>
                  <td>Paulina Era</td>
                  <td>Tutor</td>
                  <td>09276117220</td>
                  <td>paulina.era@obf.ateneo.edu</td>
                  <td>
                    <center>
                    <a class="waves-effect waves-light btn btn-main-green">View</a>
                    <a class="waves-effect waves-light btn btn-main-green">Update</a>
                    <a class="waves-effect waves-light btn btn-main-green">Delete</a>
                    <a class="waves-effect waves-light btn btn-main-green">Evaluations</a>
                    </center>
                  </td>
                </tr>
                <tr>
                  <td>Jakey Fausto</td>
                  <td>Administrator</td>
                  <td>09175842421</td>
                  <td>jacinto.fausto@obf.ateneo.edu</td>
                  <td>
                    <center>
                    <a class="waves-effect waves-light btn btn-main-green">View</a>
                    <a class="waves-effect waves-light btn btn-main-green">Update</a>
                    <a class="waves-effect waves-light btn btn-main-green">Delete</a>
                    <a class="waves-effect waves-light btn btn-main-green">Evaluations</a>
                    </center>
                  </td>
                </tr>
                <tr>
                  <td>Jeo Marcos</td>
                  <td>Modules Team</td>
                  <td>09175842421</td>
                  <td>jeo.marcos@obf.ateneo.edu</td>
                  <td>
                    <center>
                    <a class="waves-effect waves-light btn btn-main-green">View</a>
                    <a class="waves-effect waves-light btn btn-main-green">Update</a>
                    <a class="waves-effect waves-light btn btn-main-green">Delete</a>
                    <a class="waves-effect waves-light btn btn-main-green">Evaluations</a>
                    </center>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


         <center>
          <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons"></i></a></li>
      <li class="btn-main-green active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons"></i></a></li>
      </ul>
        </center>


      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>
